* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

.header {
    height: 583px;
    width: 1440px;
    background-color: #432A2A;
    border-radius: 0 0 200px 10px;
    margin: 0 auto;
}

.container {
    width: 1200px;
    margin: auto;
    height: 580px;
} 

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 51px;
}

ul {
    margin-top: 55px;
}

ul li {
    font-family: poppins;
    font-weight: bold;
    color: white;
    list-style: none;
    display: inline;
    font-family: Poppins;
    font-size: 18px;
    margin-left: 33px;
}

.logo {
    margin-top: 55px;
}

.box {
    display: flex;
    justify-content: space-between;
    font-family: poppins;
    color: white;
}

.box img {
    height: 421px;  
}

.box button{
    width: 250px;
    height: 61.72px;
    left: 124px;
    top: 439.64px;
    background: #FF9A03;
    border-radius: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.box .text {
    width: 497px;
}

.text h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.text h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 45px;
}

main {
    width: 1200px;
    margin: auto;
}

.produtos {
    display: flex;
    justify-content: space-between;
}

main h2 {
    margin-top: 103px;
    font-family: poppins;
    font-weight: bold;
    font-size: 30px;
}

div .golden {
    margin-top: 38px;
    width: 288px;
    height: 324px;
    padding: 20px;
    background-color: white;
}

div .royal-canin {
    margin-top: 38px;
    width: 288px;
    height: 324px;
    padding: 20px;
    background-color: white;
}

div .whiskas {
    margin-top: 38px;
    width: 288px;
    height: 324px;
    padding: 20px;
    background-color: white;
}

div .nutropica {
    margin-top: 38px;
    width: 288px;
    height: 324px;
    padding: 20px;
    background-color: white;
}

div .gran-plus {
    margin-top: 38px;
    width: 288px;
    height: 324px;
    padding: 20px;
    background-color: white;
}

div .bravecto {
    margin-top: 38px;
    width: 288px;
    height: 324px;
    padding: 20px;
    background-color: white;
}

div .alfapets {
    margin-top: 38px;
    width: 288px;
    height: 324px;
    padding: 20px;
    background-color: white;
}

div .premier {
    margin-top: 38px;
    width: 288px;
    height: 324px;
    padding: 20px;
    background-color: white;
}

.produtos img {
    max-width:164px;
    max-height: 166px;
}

.produtos .container-img {
    display: flex;
    width: 100%;
    justify-content: center;
}

.produtos h3 {
    font-family: poppins;
    font-weight: 400;
    color: #494949;
    font-size: 12px;
    margin-top: 10px;
}

.produtos p {
    font-family: poppins;
    font-weight: bold;
    color: black;
    font-size: 15px;
    margin-top: 10px;
}

.produtos h2 {
    font-family: poppins;
    font-weight: bold;
    color: #FF9A03;
    font-size: 18px;
    margin-top: 10px;
}

div .info {
    width: 190px;
}
