* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

.page-container {
    width: 1440px;
    background-color: #FFFFFF;
    margin: 0 auto;

}

.header {
    height: 583px;
    width: 1440px;
    background-color: #432A2A;
    border-radius: 0 0 200px 10px;
}

.container {
    width: 1200px;
    margin: auto;
    height: 580px;
} 

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 51px;
}

ul {
    margin-top: 55px;
}

ul li {
    font-family: poppins;
    font-weight: bold;
    color: white;
    list-style: none;
    display: inline;
    font-family: Poppins;
    font-size: 18px;
    margin-left: 33px;
}

nav .logo {
    margin-top: 55px;
}

.box {
    display: flex;
    justify-content: space-between;
    font-family: poppins;
    color: white;
}

.box img {
    height: 422px; 
    margin-right: 135px; 
}

.box .text .button{
    width: 250px;
    padding: 20px;
    text-decoration: none;
    background: #FF9A03;
    border-radius: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.box .text {
    width: 497px;
}

.text h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.text h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 45px;
}

.box-info {	
    width: 1196px;	
    margin: 0 auto;	
    margin-top: 123px;	
    display: flex;	
    justify-content: space-between;
}

.box-info .info {	
    width: 383px;	
    height: 147px;	
    background-color: #FAFAFA;	
    border-radius: 10px;	
    display: flex;	
    justify-content: space-between;	
    padding: 10px 50px;	
    font-family: poppins;	
    box-shadow: 0px 13px 50px -32px rgba(0, 0, 0, 0.25);	
}

.box-info .info .img {	
    width: 55px;	
    margin-top: 35px;	
}

.box-info .info h2 {	
    color: #FF9A03;	
    font-size: 18px;	
    font-weight: bold;	
    margin-top: 30px;	
}

.box-info .info h3 {	
    font-size: 14px;	
    font-weight: 500;	
}

.box-info .info .text {	
    margin-left: 40px;	
}

main {
    width: 100%;
    margin: auto;
    background-color: #FFFFFF;
    padding: 103px 120px 120px 120px;
}

.welcome {
    display: flex;
    justify-content: start;
    width: 1250px;
    margin: 0 auto;
}

.about-us {	
    width: 495px;
    margin-left: 100px;	
}

.about-us h4 {	
    color: #FF9A03;	
    font-family: poppins;	
    font-weight: 400;	
    font-size: 18px;	
    margin-top: 10px;	
}

.about-us h1 {	
    color: #000000;	
    font-family: poppins;	
    font-weight: bold;	
    font-size: 36px;	
    margin-top: 10px;	
}

.about-us p {	
    color: #000000;	
    font-family: poppins;	
    font-weight: 400;	
    font-size: 18px;	
    margin-top: 10px;	
}

.about-us ul {	
    list-style: none;
    padding: 0;
    margin: 30px 0 0 0;
}

.about-us ul li {	
    display: flex;
    margin: 0;
}

.about-us ul li .text {	
    margin-left: 10px;	
    font-family: poppins;	
    font-weight: 500;
    color: #494949;	
}

.marcas {	
    width: 1000px;	
    display: flex;	
    justify-content: space-between;
    margin: 0 auto;	
    margin-bottom: 127px;	
}

.produtos {
    display: flex;
    justify-content: space-between;
}

.produtos-home {	
    width: 1250px;	
    margin: 0 auto;	
    display: flex;	
    justify-content: space-between;	
}

.indicacao {	
    width: 387px;	
}

.produtos-home .indicacao h2 {	
    font-family: Poppins;	
    font-weight: bold;	
    font-size: 36px;	
    margin-bottom: 58px;	
}

.produtos-home .indicacao h3 {	
    font-family: Poppins;	
    font-style: normal;	
    font-weight: 500;	
    font-size: 24px;	
    margin-top: 50px;	
}

.produtos-home .indicacao p {	
    font-family: Poppins;	
    font-weight: 500;	
    font-size: 18px;	
    margin-top: 30px;	
    margin-bottom: 20px;	
}

.produtos-home .indicacao h4 {	
    font-family: Poppins;	
    font-weight: 700;	
    font-size: 18px;	
    line-height: 27px;	
    color: #FF9A03;	
}

.catalogo {	
    width: 700px;	
}

.linha1 {	
    display: flex;	
    justify-content: space-between;	
}

.linha2 {	
    display: flex;	
    justify-content: space-between;	
}

.linha1 div {	
    width: 217px;	
    height: 274px;	
    border-radius: 10px;	
    background-color: #FAFAFA;	
    box-shadow: 0px 13px 50px -32px rgba(0, 0, 0, 0.25);	
}

.linha2 div {	
    width: 217px;	
    height: 274px;	
    border-radius: 10px;	
    background-color: #FAFAFA;	
    box-shadow: 0px 13px 50px -32px rgba(0, 0, 0, 0.25);	
}

.produtos-home .catalogo h3 {	
    font-family: Poppins;	
    font-weight: 500;	
    font-size: 10px;	
    color: #494949;	
}

.produtos-home .catalogo p {	
    font-family: Poppins;	
    font-weight: 500;	
    font-size: 11px;	
    color: #000000;	
}

.produtos-home .catalogo h2 {	
    font-family: Poppins;	
    font-weight: bold;	
    font-size: 18px;	
    color: #FF9A03;	
}

.produtos-home .catalogo .golden {	
    margin: 0 auto;	
}

.card {
    border-radius: 10px;
    margin-top: 38px;
    width: 288px;
    height: 324px;
    padding: 20px;
    background-color: #FAFAFA;
}

main h2 {
    font-family: poppins;
    font-weight: bold;
    font-size: 30px;
}

.produtos img {
    max-width:164px;
    max-height: 166px;
}

.produtos .container-img {
    display: flex;
    width: 100%;
    justify-content: center;
}

.produtos h3 {
    font-family: poppins;
    font-weight: 400;
    color: #494949;
    font-size: 12px;
    margin-top: 10px;
}

.produtos p {
    font-family: poppins;
    font-weight: bold;
    color: black;
    font-size: 15px;
    margin-top: 10px;
}

.produtos h2 {
    font-family: poppins;
    font-weight: bold;
    color: #FF9A03;
    font-size: 18px;
    margin-top: 10px;
}

div .info {
    width: 190px;
}

footer {
    width: 100%;
    background-color: #432A2A;
    font-display: flex;
    padding-bottom: 30px;
}

footer .logo {
   display: flex;
   justify-content: center;
   padding-top: 38px;
}

footer .info {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

footer .info .conjunto {
    display: flex;
    justify-content: space-between;
    font-family: poppins;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 111px;
}

footer .info .conjunto .img {
    margin-right: 20px;
}

.creditos {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    font-family: poppins;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 15px;
}
