* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

.page-container {
    width: 1440px;
    background-color: #FFFFFF;
    margin: 0 auto;

}

.header {
    height: 583px;
    width: 1440px;
    background-color: #432A2A;
    border-radius: 0 0 200px 10px;
}

.container {
    width: 1200px;
    margin: auto;
    height: 580px;
} 

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 51px;
}

ul {
    margin-top: 55px;
}

ul li {
    font-family: poppins;
    font-weight: bold;
    color: white;
    list-style: none;
    display: inline;
    font-family: Poppins;
    font-size: 18px;
    margin-left: 33px;
}

nav .logo {
    margin-top: 55px;
}

.box {
    display: flex;
    justify-content: space-between;
    font-family: poppins;
    color: white;
}

.box img {
    height: 422px; 
    margin-right: 268px; 
}

.box .text .button{
    width: 250px;
    padding: 20px;
    text-decoration: none;
    background: #FF9A03;
    border-radius: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.box .text {
    width: 497px;
}

.text h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.text h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 45px;
}

main {
    width: 1440px;
    margin: auto;
    background-color: #FFFFFF;
    padding: 103px 120px 0 120px;
    height: 990px;
}

.produtos {
    display: flex;
    justify-content: space-between;
}

.card {
    border-radius: 10px;
    margin-top: 38px;
    width: 288px;
    height: 324px;
    padding: 20px;
    background-color: #FAFAFA;
}

main h2 {
    font-family: poppins;
    font-weight: bold;
    font-size: 30px;
}

.produtos img {
    max-width:164px;
    max-height: 166px;
}

.produtos .container-img {
    display: flex;
    width: 100%;
    justify-content: center;
}

.produtos h3 {
    font-family: poppins;
    font-weight: 400;
    color: #494949;
    font-size: 12px;
    margin-top: 10px;
}

.produtos p {
    font-family: poppins;
    font-weight: bold;
    color: black;
    font-size: 15px;
    margin-top: 10px;
}

.produtos h2 {
    font-family: poppins;
    font-weight: bold;
    color: #FF9A03;
    font-size: 18px;
    margin-top: 10px;
}

div .info {
    width: 190px;
}

footer {
    height: 388px;
    width: 1440px;
    background-color: #432A2A;
    font-display: flex;
    margin: 0 auto;
}

footer .logo {
   display: flex;
   justify-content: center;
   padding-top: 38px;
}

footer .info {
    display: flex;
    justify-content: space-around;
}

footer .info .conjunto {
    display: flex;
    justify-content: space-between;
    font-family: poppins;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 111px;
}

footer .info .conjunto .img {
    margin-right: 20px;
}

.creditos {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    font-family: poppins;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 15px;
}